main > div {
  float: left;
  width: 80%;
  margin: 36px 10%;
}
.topTitle {
  margin: 20px 0px;
  padding: 10px;
  background-color: title_color;
}
.tHead {
  padding: 5px;
  background-color: fontTime_color;
}
.tHead > span {
  margin-left: 15px;
}
.tHead > span:last-child {
  float: right;
  margin-right: 10px;
}
.mainMsg {
  border: 1px solid fontTime_color;
  border-bottom: 0px;
}
.tMain ul {
  padding: 0px;
  margin: 5px 10px 0px 0px;
}
.tMain li {
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
  padding: 6px 6px;
  line-height: 30px;
}
.tMain > * {
  text-indent: 10px;
}
.tMain a {
  text-decoration: none;
  color: #666666;
}
.tMain a:hover {
  color: title_color;
}
.tMain span {
  float: right;
  color: fontTime_color;
}
