ul {
    -webkit-padding-start: 0px;
    list-style: none;
}

select {
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

main {
    padding-top: 32px;
    display: flow-root;
}

.userImg {
    float: left;
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    border-radius: 50%;
}

.userImg img,
.userImg input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.userImg img:last-child,
.userImg input {
    opacity: 0;
    cursor: pointer;
}

.funFormation .userName {
    float: left;
    margin: 60px 0px 0px 20px;
    padding: 0px 8px;
    font-size: 28px;
    border-radius: 9px;
    color: rgb(255, 255, 255);
    background-color: rgba(102, 102, 102, 0.7);
}

.userInformation {
    float: left;
    width: 210px;
    height: 500px;
    margin-left: 70px;
    text-align: center;
    background-color: rgb(204, 204, 204, 0.1);
}

.block {
    margin-left: 30px;
}

.myInformation>ul {
    margin-left: 38px;
}

.changeInformation label,
.goodsInformation label,
.myInformation label {
    display: inline-block;
    width: 70px;
    height: 24px;
    margin: 5px 10px 5px 0px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.3);
}

.goodsInformation>div label,
.uploadImgs {
    float: left;
}

.goodsInformation>div {
    overflow: hidden;
}

.goodsInformation>div:last-child {
    margin-top: 20px;
}

.specificInformation input[type=text] {
    height: 38px;
    width: 617px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}


/* .goodsRelease input[type=text],
.goodsRequest input[type=text] {
    width: 500px;
} */

.goodsInformation p:nth-child(4) input[type=text] {
    width: 635px;
}

.goodsRelease>div,
.goodsRequest>div {
    padding: 10px;
}

.myInformation>ul li {
    position: relative;
    height: 72px;
}

.specificInformation>div>p {
    font-weight: bold;
}

.specificInformation>div>p span {
    float: right;
    margin: 0 5px;
    color: rgb(102, 102, 102);
}

.myInformation>p span:hover {
    color: rgb(255, 153, 0);
    cursor: pointer;
}

.informationNav ul {
    margin: 0px;
}

.hideChoose {
    position: absolute;
    right: 0px;
    top: 6px;
}

.funFormation {
    height: 180px;
    margin: 17px 0px 50px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    background-image: url(../img/1.jpg);
}

.userInformation li {
    display: block;
    font-size: 20px;
    line-height: 55px;
}

.userInformation li:hover {
    cursor: pointer;
}

.userInformation li>ul {
    display: none;
    background-color: rgba(204, 204, 204, 0.3);
    cursor: pointer;
}

.userInformation li>ul>li:hover a {
    color: rgb(255, 115, 0);
}
.goodsIntroduce {
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* .userInformation li:hover a {
    color: rgb(255, 115, 0);
} */

.specificInformation {
    float: left;
    width: 800px;
}

.uploadFile {
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.uploadFile img,
.uploadFile input {
    width: 100%;
    height: 100%;
}

.uploadFile input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
}

video {
    display: none;
    width: 70%;
}

.nameError,
.numError,
.waysError,
.classifyError {
    display: none;
    color: rgb(255, 0, 0);
}

.userGoods {
    display: inline-block;
    position: relative;
    margin: 10px 5px;
    padding: 3px;
    width: 203px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.goodsType {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.userGoodsImg {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.userGoods .goodsName {
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.goodsLink {
    display: inline-block;
    width: 100%;
    height: 160px;
    margin: 3px auto;
    text-align: center;
    overflow: hidden;
}

.goodsLink img {
    width: 95%;
    max-height: 200px;
}

.goodsPrice {
    font-size: 20px;
    color: rgb(255, 0, 0);
}

p .goodsSource {
    float: right;
    margin-right: 10px;
}

.userGoods>a:hover,
.userGoods>span:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.changeInformation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 446px;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    z-index: 5;
}

.changeInformation ul {
    list-style: none;
}

.changeInformation ul>div {
    overflow: hidden;
}

.changeInformation label {
    display: inline-block;
    width: 80px;
    padding: 5px;
    text-align: center;
}

.changeInformation h2 {
    margin: 0px;
}

.changeInformation p {
    margin: 5px 0px;
}

.restoreChange,
.cancleChange {
    margin: 0 10px;
}

.restoreChange:hover,
.cancleChange:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.goodsClassify>span {
    margin: 0 10px;
}

.upload {
    cursor: pointer;
}

.floatUpload {
    display: none;
    position: fixed;
    right: 10%;
    bottom: 40%;
    padding: 15px 10px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(204, 204, 204, .8);
    z-index: 999;
}

.floatUpload:hover{
	animation: floatHover 0.2s linear 0s 1 forwards;
}

@keyframes floatHover{
	0%{
		transform:scale(1);
	}
	100%{
		transform:scale(1.5);
	}
}

/* more photos*/

.imgWait {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
}

.imgWait img {
    width: 90%;
    height: 90%;
    transform: translateY(5%);
}

.imgWait .icon-cancel {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.goodsCount::before {
    content: "库存";
}

.goodsCount {
    font-size: 14px;
}